name: Main App

on:
  schedule:
    - cron: "30 0-23 * * *"
  push:
    branches: main
jobs:
  build:
    name: parse
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run main script
        run: |
          TZ=Asia/Tokyo python main.py
      - name: Slack Notification
        if: failure()
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_MESSAGE: "covid19_emergency was failed to run main.py"
          SLACK_TITLE: ":fire: Data Update Error :fire:"
          SLACK_USERNAME: covid19_emergency
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./data
          publish_branch: gh-pages
